<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        table,
        th,
        tbody,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h2>Flight successfully booked</h2>
</br>
{% if error %}
  <h1>Invalid flight number.</h1>
  <a href="/">Try again</a>
{% endif %}

<form action="/goBack" method="POST">
  <input type="submit" name="customer" value = "Go Back"/></form>
</form>
</body>
</html>
