<html>
<head>
</head>
<body>
  {% if data %}
    <h1>Upcoming Departing Flights</h1>
    <table>
      <thead><strong>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Price</th>
          <th>Departing From</th>
          <th>Arriving To</th>
          <th>Departing Date</th>
          <th>Departing Time</th>
          <th>Arriving Date</th>
          <th>Arriving Time</th>
        </tr>
        </strong></thead>
      <tbody>
        {% for item in data %}
          <tr>
            <td>{{item['Airline_name']}}</td>
            <td>{{item['Flight_num']}}</td>
            <td>${{item['Base_price']}}</td>
            <td>{{item['Departure_airport']}}</td>
            <td>{{item['Arrival_airport']}}</td>
            <td>{{item['Departure_date']}}</td>
            <td>{{item['Departure_time']}}</td>
            <td>{{item['Arrival_date']}}</td>
            <td>{{item['Arrival_time']}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action='/bookFlight' action='POST'>
      <input type="text" name="departingflight" placeholder="departing flight number:" required/></br>
      <input type="submit" value="Book"/>
    </form>
  {% endif %}
  {% if error %}
    <h1>We're sorry, we couldn't find any flights for your given dates.</h1>
    <a href="/">Try again</a>
  {% endif %}
</body>
</html>
