<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<!-- if customer, add book flight button -->
{% if customer %}
	<form action="/bookFlight" method="GET">
		<button type="submit">Book Flight</button>
	</form>
{% endif %}

<!-- if staff, add add flight button -->
{% if staff %}
	<form action="/createFlight" method="GET">
		<button type="submit">Create Flight</button>
	</form>
	<form action="/changeFlight" method="GET">
		<button type="submit">Change Flight Status</button>
	</form>
	<form action="/addAirplane" method="GET">
		<button type="submit">Add Airplane</button>
	</form>
	<form action="/addAirport" method="GET">
		<button type="submit">Add Airport</button>
	</form>
	<form action="/customerStats" method="GET">
		<button type="submit">Customer Statistics</button>
	</form>
	<form action="/destinationStats" method="GET">
		<button type="submit">Destination Statistics</button>
	</form>
{% endif %}

<!-- Departures -->
<!-- Arrivals -->

</table>

<a href="/logout">Logout</a>

</body>
</html>
