<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<!-- if customer, add book flight button -->
{% if customer %}
	{% if flights %}
		<h2>Your Upcoming Flights</h2>
		<table>
      <thead><strong>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departing From</th>
          <th>Arriving To</th>
          <th>Departing Date</th>
          <th>Departing Time</th>
          <th>Arriving Date</th>
          <th>Arriving Time</th>
          <th>Flight Status</th>
        </tr>
      </strong></thead>
      <tbody>
        {% for item in flights %}
          <tr>
            <td>{{item['Airline_name']}}</td>
            <td>{{item['Flight_num']}}</td>
            <td>{{item['Departure_airport']}}</td>
            <td>{{item['Arrival_airport']}}</td>
            <td>{{item['Departure_date']}}</td>
            <td>{{item['Departure_time']}}</td>
            <td>{{item['Arrival_date']}}</td>
            <td>{{item['Arrival_time']}}</td>
            <td>{{item['Flight_status']}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	{% endif %}
	<form action="/bookFlightOnewayOrRoundtrip" method="GET">
		<button type="submit">Book Flight</button>
	</form>
	<form action="/cancelFlightOptions" method="GET">
		<button type="submit">Cancel Flight</button>
	</form>
	<form action="/upcomingFlights" method="GET">
		<button type="submit">Upcoming Flights</button>
	</form>
	<form action="/pastFlights" method="GET">
		<button type="submit">Past Flights</button>
	</form>
	<form action="/spending" method="GET">
		<button type="submit">Track Spending</button>
	</form>

{% endif %}

<!-- if staff, add add flight button -->
{% if staff %}
	<form action="/createFlight" method="GET">
		<button type="submit">Create Flight</button>
	</form>
	<form action="/viewFlightOptions" method="GET">
		<button type="submit">View Flight Information</button>
	</form>
	<form action="/changeFlight" method="GET">
		<button type="submit">Change Flight Status</button>
	</form>
	<form action="/addAirplane" method="GET">
		<button type="submit">Add Airplane</button>
	</form>
	<form action="/addAirport" method="GET">
		<button type="submit">Add Airport</button>
	</form>
	<form action="/customerStats" method="GET">
		<button type="submit">Customer Statistics</button>
	</form>
	<form action="/destinationStats" method="GET">
		<button type="submit">Destination Statistics</button>
	</form>
	<form action="/revenue" method="GET">
		<button type="submit">Revenue Statistics</button>
	</form>
	<form action="/tickets_sold" method="GET">
		<button type="submit">Tickets Sold Statistics</button>
	</form>
	<form action="/flightRatings" method="GET">
		<button type="submit">Flight Ratings</button>
	</form>
{% endif %}

<!-- Departures -->
<!-- Arrivals -->

</table>

<a href="/logout">Logout</a>

</body>
</html>
