<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% if not message %}
	<a href="/login">Login</a>
	<a href="/register">Register</a>
{% endif %}

{% if message %}
	<a href="/logout">Logout</a>
	<p class="message">You are logged in {{message}}.</p> </br>
	</br>
{% endif %}

<h1>Search Upcoming Flights</h1>
<form action='/searchUpcomingFlights' method='POST'>
	<select id="flighttype" name="flighttype">
		<option value="roundtrip">Roundtrip</option>
		<option value="oneway">Oneway</option>
	</select></br>
	<input type="submit" value = "Go"/>
</form>

<h2>Search Flight Status</h2>
<form action='/searchActiveFlights' method='POST'>
	<input type="text" name = "airlinename" placeholder = "airline" required/></br>
	<input type="text" name = "flightnum" placeholder = "flight number" required/></br>
	<input type="text" name = "departureairport" placeholder = "departure airport: XXX" required/></br>
	<input type="text" name = "arrivalairport" placeholder = "arrival airport: XXX" required/></br>
	<input type="submit" value = "Search"/>
</form>
</body>

</html>
