<html>
<head>
</head>
<body>
<form action="/registerAuth" method="POST">
	<p>Are you registering as a Customer or Staff?</p>

	<label for="usertype">Sign in as:</label>
	<select id="usertype" name="usertype">
		<option value="customer">Customer</option>
		<option value="airlinestaff">Airline Staff</option>
	</select></br>
	<input type="submit" value = "Register" />

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
