<html>
<head>
</head>
<body>
<form action="/registerCustomer" method="POST">
    <input type="text" name = "name" placeholder="full name" required/> </br>
    <input type="text" name = "email" placeholder="email" required/> </br>
    <input type="number" name = "phone" placeholder="phone number" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
    <input type="date" name = "dateofbirth" placeholder="date of birth" required/> </br></br>

    <label>Address Information:</label></br>
    <input type="number" name = "buildingnum" placeholder="building number" required/> </br>
    <input type="text" name = "street" placeholder="street" required/> </br>
    <input type="text" name = "city" placeholder="city" required/> </br>
    <input type="text" name = "state" placeholder="state: XX" required/> </br></br>

    <label>Passport Information:</label></br>
    <input type="number" name = "passportnum" placeholder="passport number" required/> </br>
    <input type="date" name = "passportexp" placeholder="expiration date" required/> </br>
    <input type="text" name = "passportcountry" placeholder="passport country" required/> </br>

	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
