<html>
<head></head>
<body>
  <h1>Search Your Airline's Past Flights</h1>
  <form action='/pastStaffFlights' method='POST'>
    <input type="text" name="departingairport" placeholder="departure airport: XXX" required/></br>
    <input type="text" name="arrivingairport" placeholder="arriving airport: XXX" required/></br>
    From:
    <input type="date" name="date1" placeholder="date"required/></br>
    To:
    <input type="date" name="date2" placeholder="date"required/></br>
    <input type="submit" value="Search"/>
  </form>
  <form action="/goBack" method="POST">
    <input type="submit" name="staff" value = "Go Back"/></form>
  </form>
</body>
</html>
