<html>
<head>
</head>
<body>
  <h1>Flight Status</h1>
  <table>
    <thead><strong>
      <tr>
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Departing From</th>
        <th>Arriving To</th>
        <th>Arriving Date</th>
        <th>Arriving Time</th>
        <th>Flight Status</th>
      </tr>
      </strong></thead>
    <tbody>
      {% for item in data %}
        <tr>
          <td>{{item['Airline_name']}}</td>
          <td>{{item['Flight_num']}}</td>
          <td>{{item['Departure_airport']}}</td>
          <td>{{item['Arrival_airport']}}</td>
          <td>{{item['Arrival_date']}}</td>
          <td>{{item['Arrival_time']}}</td>
          <td>{{item['Flight_status']}}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if error %}
    <h1>We're sorry, we couldn't find any flights matching those details.</h1>
    <a href="/">Try again</a>
  {% endif %}
<form action="/goBack" method="POST">
  <input type="submit" name="other" value = "Go Back"/></form>
</form>
</body>
</html>
